@model IEnumerable<WastedFoodSystemAdmin.wasted_food_data.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách báo cáo vi phạm</h1>

@using (Html.BeginForm())
{
    <p>

        Id: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />

    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Id người báo cáo
            </th>
            <th>
                Id người bị báo cáo
            </th>
            <th>
                Thông tin báo cáo
            </th>
            <th>
                Hình ảnh báo cáo
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày thay đổi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReporterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccusedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>

        </tr>
        }
    </tbody>
</table>
