@model IEnumerable<WebApplication6.Models.AccountSellerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách tài khoản bị vô hiệu hóa</h1>

@using (Html.BeginForm())
{
    <div class="d-flex">

        <p>Username:  </p> @Html.TextBox("SearchString") <input class="btn btn-primary" type="submit" value=" Tìm kiếm" />

    </div>
}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Tên tài khoản
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ email
            </th>
            <th>
                Ngày tạo tài khoản
            </th>
            <th>
                Kích hoạt
            </th>
            <th>
                Ngày thay đổi
            </th>
            <th>
                Tên nhà hàng
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Vĩ độ
            </th>
            <th>
                Kinh độ
            </th>
            <th>
                Mô tả nhà hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.Image)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <div class="form-group">
                        <a asp-action="ActiveAccount" asp-route-id="@item.Id" class="btn btn-primary" role="button">Kích hoạt lại tài khoản</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>